<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="main.js"></script>
</head>

<body class="flex  items-center h-screen" >
    <container class="w-full h-full flex justify-center items-center">
        <img src="/assets/logo-principal.png" alt="">
    </container>
    <container class="w-full h-full flex justify-center items-center" style="background-color:#B9375E">
            <div class="flex flex-col items-center bg-pink-100 rounded-lg p-24 drop-shadow-2xl " >
                <h2 class=" mb-12 text-6xl font-bold font-['Poppins']" style="color:#B9375E" >Cadastre-se</h2>
                <form action="javascript:;" onsubmit="cadastrarPessoa(this)" class="flex flex-col min-w-full" id="form-cadastro">
                    <label class="text-3xl mb-4 font-['Poppins']" style="color:#B9375E" >Nome completo</label>
                    <input name="nome" type="text" placeholder="digite seu nome completo" required  class=" placeholder:italic font-['Poppins'] text-pink-600 text-2xl border-none p-2 rounded-md outline-none" >

                    <label class="text-3xl mb-4 mt-4 font-['Poppins']" style="color:#B9375E">E-mail</label>
                    <input name="email" type="email" placeholder="digite seu e-mail"  required class=" placeholder:italic font-['Poppins'] text-2xl text-pink-600 border-none bg--100 p-2 rounded-md outline-none ">

                    <label class="text-3xl mb-4 mt-4 font-['Poppins']" style="color:#B9375E">Senha</label>
                    <input name="senha" type="password" placeholder="digite sua senha" required class="placeholder:italic font-['Poppins'] text-pink-600 text-2xl border-none  p-2 rounded-md outline-none">

                    <label class="text-3xl mb-4 mt-4 font-['Poppins']" style="color:#B9375E">Setor</label>
                    <select name="setor" id="select=setor" required  class=" placeholder:italic font-['Poppins'] text-2xl text-pink-600 border-none bg--100 p-2 rounded-md outline-none" >
                        <option value=""></option>
                        <option>Administrativo</option>
                        <option>Contabilidade</option>
                        <option>Produção</option>
                        <option>Ambiental</option>
                    </select>
                    <label class="text-3xl mb-4 mt-4 font-['Poppins']" style="color:#B9375E">Pessoa</label>
                    <select name="tipo" id="select-tipo" required  class=" placeholder:italic font-['Poppins'] text-2xl text-pink-600 border-none bg--100 p-2 rounded-md outline-none" >
                        <option value=""></option>
                        <option>Usuário</option>
                        <option>Técnico</option>
                    </select>
                </form>
                <button type="submit" form="form-cadastro" value="Submit" class=" font-['Quicksand'] bg-green-700 hover:bg-green-900 active:bg-green-800 focus:outline-none focus:ring text-3xl mt-12 rounded-md p-2 px-6 font-bold text-white">CADASTRAR</button>
            </div>
    </container>

</body>

</html>