<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamado Delas</title>
    <link rel="shortcut icon" href="static/assets/logo-negativo-fundo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/main.js"></script>
</head>
<body class="mt-20 flex flex-col" >
    <div class="flex items-center">
        <div class="flex w-3/8 ml-10 h-full">
            <img src="/assets/logo-principal-3.png">
        </div>

        <div class="w-full flex flex-col items-center">
            <div class="flex flex-col text-center">
                <h2 class="text-3xl font-bold mb-10 font-['Quicksand']" style="color:#B9375E">Nosso projeto</h2>
            </div>
            <div class="flex flex-col items-center">
                <p class="font-['Quicksand'] w-2/3 text-sm mx-10 mb-10 text-justify" style="color:#B9375E">
                    Neste projeto, criamos uma interface intuitiva e rotas eficientes para um sistema completo de chamados técnicos em informática. Quando um usuário precisa de assistência, ele abre um chamado técnico, que é então atendido por um técnico especializado. O técnico acompanha e atualiza o status do chamado à medida que trabalha na solução. Cada chamado traz informações essenciais, como quem solicitou o atendimento, o setor envolvido, uma descrição detalhada do problema, a prioridade do chamado e a data de início. Nosso sistema foi desenvolvido para tornar a gestão e a resolução de problemas técnicos mais eficientes, facilitando a comunicação e o acompanhamento de cada solicitação.
                </p>
                <div class="flex items-center justify-center">
                    <img class="inline-block size-7 mr-2" src="/assets/iconsgithub.png">
                    <a class="font-bold hover:underline font-['Poppins'] text-xl" style="color:#B9375E" href="https://github.com/jessica-leite/chamados-delas">Acesse o projeto no github</a>
                </div>
            </div>
        </div>
    </div>

<footer  class="footer flex mt-20 items-center justify-center py-7 border-solid " >
    <img class="size-7 mr-2" src="/assets/iconsgithub.png">
    <a class=" font-bold hover:underline" style="color:#B9375E" href="https://github.com/alyquegi">Alyce Quegi</a>
    <img class="size-7 mr-2 ml-10" src="/assets/iconsgithub.png">
    <a class=" font-bold hover:underline" style="color:#B9375E" href="https://github.com/ericajv">Érica Vieira</a>
    <img class="size-7 mr-2 ml-10" src="/assets/iconsgithub.png">
    <a class=" font-bold hover:underline" style="color:#B9375E" href="">Giulia Faria</a>
    <img class="size-7 mr-2 ml-10" src="/assets/iconsgithub.png">
    <a class=" font-bold hover:underline" style="color:#B9375E" href="https://github.com/jessica-leite">Jéssica Leite</a>
    <img class="size-7 mr-2 ml-10"src="/assets/iconsgithub.png">
    <a class=" font-bold hover:underline" style="color:#B9375E" href="https://github.com/julooch">Julia Domingues</a>
</footer>

</body>

</html>