<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Técnico</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="main.js"></script>
</head>

<body onload="getChamadosTecnico()">
    <header class="w-screen h-12 flex justify-center bg-[#B9375E]">
        <img class="h-12 p-2" src="/assets/logo-branco-header.png">
    </header>

    <div class="flex justify-between">
        <h1 class="font-['Quicksand'] mt-10 ml-10 text-3xl text-[#B9375E]">Olá, <span id="nomePessoa" class="font-bold"></span></h1>
        <button OnClick=" location.href='login'" class="font-['Quicksand'] font-bold mr-10 bg-[#800E13] hover:bg-[#38040E] active:bg-[#800E13] focus:outline-none focus:ring rounded-md text-white py-2 px-4 mt-10">SAIR</button>
    </div>

    <div>
        <button OnClick="location.href='atualizar-tecnico'" class="font-['Quicksand'] ml-10 bg-green-700 hover:bg-green-900 active:bg-green-800 focus:outline-none focus:ring text-1xl mt-8 rounded-md p-2 px-3 font-bold text-white">EDITAR CADASTRO</button>
        <button class="font-['Quicksand'] ml-10 bg-[#800E13] hover:bg-[#38040E] active:bg-[#800E13] focus:outline-none focus:ring text-1xl mt-8 rounded-md p-2 px-3 font-bold text-white">EXCLUIR CADASTRO</button>
    </div>

    <div class="flex justify-center">
        <h2 class="font-['Quicksand'] mt-10 mb-8 text-2xl text-[#B9375E]">Chamados <span class="font-bold">abertos</span></h2>
    </div>

    <div class="flex justify-center">
        <table id="tableTecnico" class="table-auto bg-[#B9375E] flex justify-center h-60 w-9/12 rounded-md">

        </table>
    </div>


    <div class="flex justify-center">
        <h2 class="font-['Quicksand'] mt-10 mb-8 text-2xl text-[#B9375E]">Chamados <span class="font-bold">atendidos</span></h2>
    </div>

    <div class="flex justify-center">
        <table class="table-auto bg-[#B9375E] flex justify-center h-60 w-9/12 rounded-md">
            <tr class="font-['Quicksand'] items-center no-wrap mx-5 text-xs mt-5 px-5 flex justify-between gap-12 text-[#B9375E] bg-[#FFE0E9] rounded-md h-8 w-8/8">
                <td>01</td>
                <td class="truncate">descrição do chamado</td>
                <td>
                    <select class="rounded-md">
                        <option value="baixa">baixa</option>
                        <option value="media">média</option>
                        <option value="alta">alta</option>
                    </select>
                </td>
                <td>2024-05-09</td>
                <td>
                    <select class="rounded-md">
                        <option value="informatica">informática</option>
                        <option value="rh">recursos humanos</option>
                        <option value="marketing">marketing</option>
                    </select>
                </td>
                <td>
                    <select class="rounded-md">
                        <option value="finalizado">finalizado</option>
                        <option value="atendimento">em atendimento</option>
                        <option value="outrosetor">escalado para outro setor</option>
                        <option value="aguardando">aguardando técnico</option>
                    </select>
                </td>
            </tr>
            <tr class="font-['Quicksand'] items-center no-wrap mx-5 text-xs mt-5 px-5 flex justify-between gap-12 text-[#B9375E] bg-[#FFE0E9] rounded-md h-8 w-8/8">
                <td>01</td>
                <td class="truncate">descrição do chamado</td>
                <td>
                    <select class="rounded-md">
                        <option value="baixa">baixa</option>
                        <option value="media">média</option>
                        <option value="alta">alta</option>
                    </select>
                </td>
                <td>2024-05-09</td>
                <td>
                    <select class="rounded-md">
                        <option value="informatica">informática</option>
                        <option value="rh">recursos humanos</option>
                        <option value="marketing">marketing</option>
                    </select>
                </td>
                <td>
                    <select class="rounded-md">
                        <option value="finalizado">finalizado</option>
                        <option value="atendimento">em atendimento</option>
                        <option value="outrosetor">escalado para outro setor</option>
                        <option value="aguardando">aguardando técnico</option>
                    </select>
                </td>
            </tr>
            <tr class="font-['Quicksand'] items-center no-wrap mx-5 text-xs mt-5 px-5 flex justify-between gap-12 text-[#B9375E] bg-[#FFE0E9] rounded-md h-8 w-8/8">
                <td>01</td>
                <td class="truncate">descrição do chamado</td>
                <td>
                    <select class="rounded-md">
                        <option value="baixa">baixa</option>
                        <option value="media">média</option>
                        <option value="alta">alta</option>
                    </select>
                </td>
                <td>2024-05-09</td>
                <td>
                    <select class="rounded-md">
                        <option value="informatica">informática</option>
                        <option value="rh">recursos humanos</option>
                        <option value="marketing">marketing</option>
                    </select>
                </td>
                <td>
                    <select class="rounded-md">
                        <option value="finalizado">finalizado</option>
                        <option value="atendimento">em atendimento</option>
                        <option value="outrosetor">escalado para outro setor</option>
                        <option value="aguardando">aguardando técnico</option>
                    </select>
                </td>
            </tr>
            <tr class="font-['Quicksand'] items-center no-wrap mx-5 text-xs mt-5 px-5 flex justify-between gap-12 text-[#B9375E] bg-[#FFE0E9] rounded-md h-8 w-8/8">
                <td>01</td>
                <td class="truncate">descrição do chamado</td>
                <td>
                    <select class="rounded-md">
                        <option value="baixa">baixa</option>
                        <option value="media">média</option>
                        <option value="alta">alta</option>
                    </select>
                </td>
                <td>2024-05-09</td>
                <td>
                    <select class="rounded-md">
                        <option value="informatica">informática</option>
                        <option value="rh">recursos humanos</option>
                        <option value="marketing">marketing</option>
                    </select>
                </td>
                <td>
                    <select class="rounded-md">
                        <option value="finalizado">finalizado</option>
                        <option value="atendimento">em atendimento</option>
                        <option value="outrosetor">escalado para outro setor</option>
                        <option value="aguardando">aguardando técnico</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>