<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Usuario</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="./output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="main.js"></script>
</head>
<body onload="getChamadosUsuario()">
<header class="w-screen h-12 flex justify-center bg-[#B9375E]">
    <img class="h-12 p-2" src="/assets/logo-branco-header.png">
</header>

<div class="flex justify-between">
    <h1 class="font-['Quicksand'] mt-10 ml-10 text-3xl text-[#B9375E]">Olá, <span class="font-bold">nomeUsuario</span></h1>
    <button type="button" onclick="logout()"  class="font-['Quicksand'] font-bold mr-10 bg-[#800E13] hover:bg-[#38040E] active:bg-[#800E13] focus:outline-none focus:ring rounded-md text-white py-2 px-4 mt-10">SAIR</button>
</div>
<div class=" items-center">
    <button OnClick=" location.href='atualizar-usuario' " class=" font-['Quicksand'] ml-10 bg-[#155D27] hover:bg-[#10451D] text-1xl mt-10 rounded-md p-2 px-3 font-bold text-white">EDITAR CADASTRO</button>
    <button OnClick="excluirCadastro()" class=" font-['Quicksand'] ml-5 bg-[#800E13] hover:bg-[#38040E] text-1xl mt-10 rounded-md p-2 px-3 font-bold text-white">EXCLUIR CADASTRO</button>
</div>
<div class="flex justify-center">
    <h2 class="font-['Quicksand'] mt-6 mb-8 text-2xl text-[#B9375E]">Veja seus chamados <span class="font-bold">anteriores</span></h2>
</div>

<div class="flex justify-center">
    <table id="table" class="table-fixed bg-[#B9375E] flex justify-center h-full w-8/12 rounded-md">

    </table>
</div>
<div>
    <button OnClick=" location.href='cadastro-chamado' " class=" font-['Quicksand'] ml-[150px] bg-green-700 hover:bg-green-900 active:bg-green-800 focus:outline-none focus:ring text-1xl mt-8 rounded-md p-2 px-3 font-bold text-white">CRIAR CHAMADO</button>
</div>





</body>
</html>